body {
  background-color: #121414;
  font-family: 'Crimson Text';
}

.main {
  background-color: #121414;
}

h4 {
  font-size: 3rem;
  color: #878787;
}

.home-description {
  font-style: italic;
  font-weight: 400;
  font-family: 'Rambla', sans-serif;
  font-size: 2rem;
  padding: 2rem;
  line-height: 3rem;
}

.social a i {
  height: 4rem;
  width: 4rem;
  border: 1px solid #fff;
  line-height: 4rem;
  margin: 0 1rem;
  color: #fff;
  font-size: 2rem;
  padding-bottom: 2rem;
}

.social a:hover i {
  color: #fff;
  border-color: #54577c;
  background-color: #54577c;
}

@media (min-width: 778px) {
  .main {
    overflow: hidden;
  }

  .btn-group-vertical {
    padding: 2rem 8rem;
  }

  .info {
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 2.5rem;
    color: #fff;
    font-size: 1.5rem;
    padding-top: 1rem;
    letter-spacing: 0.4px;
  }
}
.img-main {
  width: 100%;
}
.btn-main {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 0px !important;
  transition: all 0.4s ease-in-out;
  margin-bottom: 2rem;
  font-family: 'Crimson';
  font-size: 1.3rem;
  font-weight: 700;
}

.btn-main:hover {
  color: #fff;
  font-weight: 700;
  background-color: #54577c;
  border-color: #54577c;
}

p {
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 2.5rem;
  color: #fff;
  font-size: 1.5rem;
  padding-top: 1rem;
  letter-spacing: 0.4px;
}

.fixed-right {
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
}

.page-title {
  color: #878787;
  text-transform: uppercase;
  font-family: 'Josefin Sans';
}

/*Home Style*/
.logo {
  padding-top: 1.4rem;
  text-transform: uppercase;
}

.wLogo {
  width: 25%;
}

.logo h4 {
  font-family: 'Josefin Sans';
}

footer {
  padding: 2rem 0 1rem 0;
  font-style: italic;
}

.back {
  width: 17rem;
  font-family: 'Crimson';
  font-size: 1.7rem;
  font-style: italic;
  text-align: center;
  display: block;
  clear: both;
  margin-top: 3rem;
}

.back i {
  margin-left: -4rem;
  margin-right: 1.7rem;
  font-size: 2rem;
}

.form-control {
  background: transparent;
  color: white;
  margin-top: 3rem;
  width: 75%;
}

.btn {
  padding: 1rem 6rem;
  height: 4.5rem;
  font-size: 1.6rem;
}

.btn-group-vertical {
  font-family: 'Josefin Sans';
}

.about {
  font-family: 'Josefin Sans';
  font-size: 3rem;
}
.form-control {
  border-radius: 0;
  font-family: 'Crimson';
  font-size: 1.6rem;
  letter-spacing: 1px;
}

.page-title {
  font-size: 3rem;
  font-family: 'Josefin Sans';
}

.fa-heartbeat {
  color: #bb9e7d;
}

::selection {
  color: #fff;
  background-color: #54577c;
}

.bottom {
  padding-right: 2rem;
}

.page-title {
  position: relative;
  display: inline-block;
}

.page-title:after,
.page-title:before {
  content: '';
  position: absolute;
  height: 1px;
  background-color: #fff;
  left: 0;
  margin: 2px;
}

.social {
  padding-bottom: 1.5rem;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-control:focus {
  border-color: #54577c !important;
  box-shadow: 0 0px 7px #54577c, 0 0 7px #54577c !important;
}

.message {
  margin: 0;
}

.subject {
  margin-bottom: 1.6rem;
}

.submit {
  font-family: 'Crimson';
  font-size: 1.6rem;
  margin-top: 4.4rem;
  font-style: normal;
  letter-spacing: 1px;
}

.submit:hover {
  border: #1e5128;
  background-color: #1e5128;
}

label {
  font-style: italic;
  color: #fff;
  letter-spacing: 1px;
  font-weight: 400;
}

a {
  color: #fff;
}

a:hover {
  cursor: pointer;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
}

.subtitle {
  text-align: center;
  padding: 0 7px;
  font-style: italic;
  font-weight: 400;
  font-size: 2rem;
  color: #fff;
  line-height: 3rem;
  font-family: 'Rambla', sans-serif;
  margin-top: 1rem;
  padding-right: 4rem;
  letter-spacing: 0.5px;
}
.page-title:after {
  width: 75%;
  top: -9px;
}

.page-title:before {
  width: 40%;
  bottom: -7px;
}

#watermark .marker {
  position: absolute;
  color: #fff;
  font-size: 6rem;
  opacity: 0.1;
  font-family: 'Josefin Sans';
  text-transform: uppercase;
  left: 0;
  top: -5px;
}

#watermark {
  position: relative;
}

.item {
  background-color: #313131;
  color: #f9f9f9;
}
.show {
  display: block;
}
.code {
  display: table;
  justify-content: center;
  align-items: center;
  margin: auto;
}

/* Media Queries */
@media screen and (max-width: 999px) {
  .mobile {
    margin: auto;
  }

  #index_left {
    display: none;
  }

  .home {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .desktop-img {
    display: none;
    margin: 0;
    padding: 0;
  }

  .img-paragraph {
    text-align: justify;
  }

  .paragraph-img {
    width: 27% !important;
    margin: 1rem;
    float: right;
  }

  .about-img {
    margin-bottom: 4rem;
  }
}

@media screen and (min-width: 1000px) {
  .mobile {
    display: none;
  }

  .paragraph-img {
    display: none;
  }
}

/* Extra Color Options */
/* dark blue: #060930; */
/* little lighter: #333456; */
/* little lighter: #595B83; */
/* purple: #3D2C8D; */
